<main class='bg-white px-5 my-0 mb-5 mx-auto w-full'>
  <h1 class='text-center text-yellow-400 font-bold pt-4 pb-5 mb-5 mx-auto text-3xl'>診断結果</h1>
  <p class='text-center mb-5'>あなたにおすすめの卵かけご飯は、<br><span class='text-yellow-400 font-bold text-xl'><%= @tkg %></span>です!</p>
  <div class='mb-10'>
    <%= image_tag result_image(@tkg), class: 'w-100 h-50 mx-auto rounded-lg object-cover' %>
  </div>
  <div class='mb-20 w-72 mx-auto'>
    <p>【食べ方や特徴】</p>
    <%= simple_format(result_text(@tkg)) %>
  </div>
  <div class='text-center'>
    <%= link_to 'おかわりする',root_path, class:'mr-5 rounded-md btn bg-yellow-600 text-white py-5 px-3 hover:bg-yellow-600 hover:opacity-50' %>
    <%= link_to "https://twitter.com/share?url=https://tkg-diagnosis.onrender.com&text=あなたにおすすめの卵かけご飯は#{ @tkg }です！ %0a%23TKG診断", class:'mr-5 rounded-md btn bg-gray-500 text-white py-5 px-3 hover:bg-gray-500 hover:opacity-50', target: '_blank' do %>
      Xでシェアする
    <% end %>
  </div>
  <div class=mt-20>
    <p class='text-right text-xs'>出典：日本たまごかけごはん研究所</p>
  </div>
</main>